{% macro render_blog_post(post, from_index=false) %}
	<div class="item mb-5">
		<div class="media">
			{% if post.preview_banner %}
				<img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ post.preview_banner }}" alt="image">
			{% endif %}
			<div class="media-body">
				<h3 class="title mb-1"><a href="{{ post|url }}">{{ post.title }}</a></h3>
				<div class="meta mb-1"><span class="date">{{ post.pub_date }}</span><span class="time">-- min read</span><span class="comment"><a href="#">-- comments</a></span></div>
				<div class="intro">{{ post.summary }}</div>
				<a class="more-link" href="{{ post|url }}">Read more &rarr;</a>
			</div><!--//media-body-->
		</div><!--//media-->
	</div><!--//item-->
{% endmacro %}

{% macro render_category_nav(active=none) %}
<ul>
	{% for category in site.query('/blog/categorias') %}
	<li {% if category._id == active %} class="active" {% endif
      %}><a href="{{ category|url }}">{{ category.title }}</a></li>
	{% endfor %}
</ul>
{% endmacro %}

{% macro render_blog_list(blogs) %}
<ul>
	{% for blog in blogs %}
	<li><a href="{{ blog|url }}">{{ blog.title }}</a></li>
	{% endfor %}
</ul>
{% endmacro %}