{%- set base_url = '/'|url(alt='es') -%}
{%- from "macros/translation.html" import transbag -%}

{%- macro menu_item(identifier, icon) -%}
{% set identifier_url = '/' + identifier %}
{% set trans_url = identifier_url|url(alt=this.alt) %}
{% set this_is_child = this.is_child_of(identifier_url) %}

<li class="nav-item {% if this_is_child %}active{% endif %}">
    <a class="nav-link" href="{{ trans_url }}"><i class="fas fa-{{icon}} fa-fw mr-2">
        </i>{{ transbag('menu', this.alt, identifier) }} <span class="sr-only">(current)</span>
    </a>
</li>
{%- endmacro -%}

<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Alejandro E. Rendon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
    <meta name="keywords"
        content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="freehtml5.co" />

    <!-- 
        //////////////////////////////////////////////////////

        FREE HTML5 TEMPLATE 
        DESIGNED & DEVELOPED by FreeHTML5.co
            
        Website:         http://freehtml5.co/
        Email:             info@freehtml5.co
        Twitter:         http://twitter.com/fh5co
        Facebook:         https://www.facebook.com/fh5co

        //////////////////////////////////////////////////////
        -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="{{ base_url }}static/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{{ base_url }}static/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{{ base_url }}static/css/bootstrap.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{{ base_url }}static/css/style.css">

    <!-- Modernizr JS -->
    <script src="{{ base_url }}static/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
        <script src="{{ base_url }}static/js/respond.min.js"></script>
        <![endif]-->

</head>

<body>
    {% block body %}{% endblock %}

    {% include './partials/footer.html' %}

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
    </div>

    <!-- jQuery -->
    <script src="{{ base_url }}static/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="{{ base_url }}static/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="{{ base_url }}static/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="{{ base_url }}static/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="{{ base_url }}static/js/jquery.stellar.min.js"></script>
    <!-- Easy PieChart -->
    <script src="{{ base_url }}static/js/jquery.easypiechart.min.js"></script>
    <!-- Google Map -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <script src="{{ base_url }}static/js/google_map.js"></script>

    <!-- Main -->
    <script src="{{ base_url }}static/js/main.js"></script>

</body>

</html>