.social-container {
  text-align: right;
}

.social-container .social-icon {
  font-size: 1.75em;
  margin: 0 10px;
}

.photo-container {
  text-align: left;
}

.photo {
  width: 100%;
  margin-bottom: 20px;
  max-width: 200px;
}

.info-container {
  padding-left: 20px;
}

@media (max-width: 768px) {
  .title-container {
    text-align: center;
  }

  .social-container {
    text-align: center;
  }

  .photo-container {
    text-align: center;
  }

  .info-container {
    padding-left: initial;
  }
}
